/* Color styles */
$color-light-xl: rgba(255, 255, 255, 1);
$color-light-l: rgba(246, 246, 246, 1);
$color-light-s: rgba(250, 250, 250, 1);
$color-dark-s: rgba(205, 205, 205, 1);
$color-dark-m: rgba(178, 178, 178, 1);
$color-dark-l: rgba(84, 84, 84, 1);
$color-dark-xl: rgba(76, 76, 76, 1);
$color-dark-2xl: rgba(68, 68, 68, 1);
$color-dark-3xl: rgba(41, 41, 41, 1);
$color-primary: rgba(241, 205, 179, 1);
$color-primary-light: rgba(253, 220, 196, 1);
$start-screen-gradient-background: rgba(33, 31, 32, 1);
$footer-gradient-background: rgba(33, 31, 32, 1);

/* Breakpoint */
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

/* Text-size styles */
$h2: 44px;
$h3: 35px;
$h3-mobile: 25px;
$h4: 20px;
$h5: 15px;
$h5-modal-window: 15px;
$paragraph-l: 15px;
$paragraph-s: 12px;
$paragraph-mobile-menu: 32px;
$logo_title: 32px;
$logo_subtitle: 13px;

/* Effect styles */
$card-hover: 0px 2px 35px rgba(13, 13, 13, 0.04);

// Глобальные стили
:root {
    --color-light-xl: #{$color-light-xl};
    --color-light-l: #{$color-light-l};
    --color-light-s: #{$color-light-s};
    --color-dark-s: #{$color-dark-s};
    --color-dark-m: #{$color-dark-m};
    --color-dark-l: #{$color-dark-l};
    --color-dark-xl: #{$color-dark-xl};
    --color-dark-2xl: #{$color-dark-2xl};
    --color-dark-3xl: #{$color-dark-3xl};
    --color-primary: #{$color-primary};
    --color-primary-light: #{$color-primary-light};
    --color-screen-gradient-background: #{$start-screen-gradient-background};
    --color-gradient-background: #{$footer-gradient-background};
    --mobile: #{breakpoint-mobile};
    --tablet: #{breakpoint-tablet};
    --desktop: #{breakpoint-desktop};
}

html {
    scroll-behavior: smooth;
}

.container {
    margin-inline: auto;
    width: min($desktop, 93.75%);
}

section {
    text-align: center;
    padding-top: clamp(42px, 10.5vw, 80px);
    padding-bottom: clamp(42px, 13vw, 100px);
}

h2 {
    font-size: clamp(25px, 4.58vw, 44px);
    line-height: 130%;
    @media (max-width: $mobile) {
        letter-spacing: 1.5px;
    }
}

h3 {
    font-size: clamp(25px, 5vw, 35px);
    line-height: 130%;
    letter-spacing: clamp(1.5px, 0.4vw, 2.1px);
}

h4 {
    line-height: 115%;
    letter-spacing: 1.2px;
}

h5 {
    font-size: clamp(15px, 3vw, 20px);
    line-height: clamp(110%, 2.5vw, 115%);
    letter-spacing: clamp(0.9px, 0.2vw, 1.2px);
}

p {
    color: var(--color-dark-xl);
    font-size: 15px;
    font-family: Arial;
    line-height: 160%;
}

span {
    font-size: 15px;
    line-height: 160%;

    @media (min-width: $tablet) {
        line-height: 110%;
    }
}

button {
    font-size: 17px;
    color: var(--color-dark-3xl);
    box-sizing: border-box;
}

.title {
    color: $color-primary;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 1.92px;
}

.sub-title {
    color: var(--color-light-xl);
    font-size: 13px;
    letter-spacing: 1.3px;
}

a {
    color: #545454;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 7px;
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: $color-primary;
        transition: width 0.3s;
    }

    &:hover::after {
        width: 100%;
    }

    &:active {
        color: var(--color-dark-3xl);
    }
}

a.alternative {
    color: #cdcdcd;

    &:active,
    &:hover {
        color: #fafafa;
    }
}

h2,
h3,
h4,
h5,
span {
    color: var(--color-dark-l);
}
h2,
h3,
h4,
h5,
p {
    text-align: center;

    @media (min-width: $tablet) {
        text-align: left;
    }
}

.sub-title,
a {
    font-family: Arial;
}

p,
h2,
h3,
h4,
h5,
span,
button,
.logo,
.title,
body {
    font-family: Georgia;
    margin: 0;
}

ul {
    list-style: none;
}
