/* Color styles */
$color-light-xl: rgba(255, 255, 255, 1);
$color-light-l: rgba(246, 246, 246, 1);
$color-light-s: rgba(250, 250, 250, 1);
$color-dark-s: rgba(205, 205, 205, 1);
$color-dark-m: rgba(178, 178, 178, 1);
$color-dark-l: rgba(84, 84, 84, 1);
$color-dark-xl: rgba(76, 76, 76, 1);
$color-dark-2xl: rgba(68, 68, 68, 1);
$color-dark-3xl: rgba(41, 41, 41, 1);
$color-primary: rgba(241, 205, 179, 1);
$color-primary-light: rgba(253, 220, 196, 1);
$start-screen-gradient-background: rgba(33, 31, 32, 1);
$footer-gradient-background: rgba(33, 31, 32, 1);

/* Text-size styles */
$h2: 44px;
$h3: 35px;
$h3-mobile: 25px;
$h4: 20px;
$h5: 15px;
$h5-modal-window: 15px;
$paragraph-l: 15px;
$paragraph-s: 12px;
$paragraph-mobile-menu: 32px;
$logo_title: 32px;
$logo_subtitle: 13px;

/* Effect styles */
$card-hover: 0px 2px 35px rgba(13, 13, 13, 0.04);

// Глобальные стили
:root {
    --color-light-xl: #{$color-light-xl};
    --color-light-l: #{$color-light-l};
    --color-light-s: #{$color-light-s};
    --color-dark-s: #{$color-dark-s};
    --color-dark-m: #{$color-dark-m};
    --color-dark-l: #{$color-dark-l};
    --color-dark-xl: #{$color-dark-xl};
    --color-dark-2xl: #{$color-dark-2xl};
    --color-dark-3xl: #{$color-dark-3xl};
    --color-primary: #{$color-primary};
    --color-primary-light: #{$color-primary-light};
    --color-screen-gradient-background: #{$start-screen-gradient-background};
    --color-gradient-background: #{$footer-gradient-background};
}

button {
    font-size: 17px;
    font-family: Georgia;
    color: var(--color-dark-3xl);
    box-sizing: border-box;
}

h2 {
    color: var(--color-dark-l);
    font-size: 44px;
    font-family: Georgia;
    line-height: 130%;
}

h3 {
    color: var(--color-dark-l);
    font-size: 35px;
    font-family: Georgia;
    line-height: 130%;
    letter-spacing: 2.1px;
}

h4 {
    color: var(--color-dark-l);
    font-size: 20px;
    font-family: Georgia;
    line-height: 115%;
    letter-spacing: 1.2px;
}

h5 {
    color: var(--color-dark-l);
    font-size: 15px;
    font-family: Georgia;
    line-height: 110%;
    letter-spacing: 0.9px;
}

p {
    color: var(--color-dark-xl);
    font-size: 15px;
    font-family: Arial;
    line-height: 160%;
}

span {
    color: #000;
    font-size: 15px;
    font-family: Georgia;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.9px;
}

.logo {
    color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    font-family: Georgia;
    font-style: italic;
    line-height: 130%;
}

.title {
    color: var(--color-primary);
    font-size: 32px;
    font-family: Georgia;
    line-height: 110%;
    letter-spacing: 1.92px;
}

.sub-title {
    color: var(--color-light-xl);
    font-size: 13px;
    font-family: Arial;
    letter-spacing: 1.3px;
}

a {
    color: #545454;
    font-size: 15px;
    font-family: Arial;
    line-height: 160%;

    &:hover {
        color: var(--color-dark-3-xl);
    }
}

a .alternative {
    color: #cdcdcd;

    &:active,
    &:hover {
        color: var(--color-dark-s);
    }
}
